<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">

    <link rel="stylesheet" href="../styles/game_main.css">

    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <script src="../scripts/game_main.mjs" type="module" defer></script>

    <title>Сервис+Игра</title>
</head>
<body>
    <div class="container">
        <div class="header-container">
            <header class="header">
                <p class="header-user-info" id="header-user-info"></p>
                <nav id="header-nav" class="header-nav">
                    <!-- Dynamic content for game info -->
                </nav>
            </header>
        </div>

        <div class="display-container">
            <div id="display" class="display">
                <!-- Dynamic content of the game -->
            </div>
        </div>
        
        <div id="game-modal" class="modal">
            <div class="modal-content">
                <p id="modal-message" class="modal-message-text"></p>
                <button id="modal-button" class="modal-button">OK</button>
            </div>
        </div>

        <div id="video-container" class="video-container">
            <video id="ad-video" controls autoplay muted>
                <source id="ad-video-source" src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</body>
</html>
