<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">

    <link rel="stylesheet" href="../styles/services_main.css">

    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <script src="../scripts/services_main.mjs" defer></script>

    <title>Сервис+Услуги</title>
</head>
<body>
    <div class="container">
        <div class="header-container">
            <header class="header">
                <p class="header-user-info" id="header-user-info"></p>
                <nav id="header-nav" class="header-nav">
                    <!-- Dynamic content depending on whether
                        the user is performer or customer -->
                </nav>
            </header>
        </div>

        <div class="display-container">
            <div id="display" class="display">
                <!-- Dynamic content depending on which option is selected -->
            </div>
        </div>
        
        <div id="create-bid-form-modal" class="modal">
            <div class="modal-content">
                <p id="modal-message" class="modal-message-text"></p>
                <button id="modal-button" class="modal-button">OK</button>
            </div>
        </div>
    </div>
</body>
</html>