<form id="select-city-form" class="form" novalidate>
    <label for="city">Выберите город:</label>
    <select id="city" name="city" required>
        <option value="Москва">Москва</option>
        <option value="Санкт-Петербург">Санкт-Петербург</option>
        <option value="Новосибирск">Новосибирск</option>
        <option value="Екатеринбург">Екатеринбург</option>
        <option value="Казань">Казань</option>
    </select>

    <br>

    <button type="submit" class="submit-form-button">Выбрать</button>
</form>
