<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/register_styles.css">
    
    <title>Сервис+Услуги</title>
</head>
<body>
    <div id="container">
        <div id="registration_form">
            <button id="customer_button">Я - заказчик</button>
            <button id="performer_button">Я - исполнитель</button>

            <label for="name_input" id="name_label">Введите ФИО 📜</label>
            <input type="text" id="name_input">

            <label for="rate_input" id="rate_label">Введите свою ставку в ₽</label>
            <input type="number" id="rate_input">

            <label for="experience_input" id="experience_label">Введите свой стаж в годах</label>
            <input type="number" id="experience_input">
        </div>
    </div>
</body>
</html>