/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}


.container {
	width: 100vw;
	height: 100vh;
	display: flex;
    flex-direction: column;
	background: #F0F2F0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid black;
    flex-shrink: 0;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-user-info {
	font-weight: bold;
	padding: 2px 0 10px 0;
}

.header-nav {
    display: flex;
    gap: 10px;
}

.header-button,
.modal-button {
    width: 100%;
	height: 100%;
	border-radius: 10px;
	border: solid 2px grey;
	cursor: pointer;
	background: #C9D6FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-button:hover,
.modal-button:hover {
    background-color: lightgrey;
}

.header-button:active,
.modal-button:active {
    background-color: darkgrey;
}

.header-label {
    font-weight: bold;
}

.display {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 10px;
	padding-bottom: 200px;
    align-items: center;
    justify-content: flex-start;
	overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal overflow */
	max-height: 80vh;
}

.game-data {
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: lightgrey;
    position: absolute;
    top: 50%;
}

.modal {
    visibility: hidden; /* Initially hidden */
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Black with opacity */
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

.modal-content {
    width: 80%;
	height: auto;
    text-align: center;
    border: solid 4px black;
    border-radius: 10px;
    padding: 5px;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal-message-text {
	padding: 5px;
	text-align: center;
}
